.btn {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
    margin-top: 0;
    transition: all .3s ease-out;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;

    & a {
        color: #fff;
        text-decoration: none;
    }

    &--pink {
        border: 2px solid $mainPink;

        &:hover {
            color: #fff;
            background-color: $mainPink;
            border: 2px solid transparent;
        }
    }

    &--large {
        @mixin atMedium {
            font-size: 1.2rem;
        }
    
        @mixin atLarge {
            font-size: 1.7rem;
        }
    }

    &--footer {
        margin-bottom: 0;
        margin-top: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @mixin atMedium {
            margin-left: 1.5rem;
            margin-top: 0;
            display: inline;
        }
    }

    @mixin atMedium {
        font-size: 1.2rem;
    }
}