.flex {
    &__subtitle {
        text-align: center;
        color: $mainPink;
        font-weight: 300;
        font-size: 1.4rem;
    }
    
    &__section {
        display: flex;
        flex-direction: column;

        &--medium {
            @mixin atMedium {
                flex-direction: row;
            }
        }

        &--large {
            @mixin atLarge {
                flex-direction: row;
            }
        }

        &__text {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightPink;
        }
    }
}