.flex {
    &__subtitle {
        text-align: center;
        color: $mainPurple;
        font-weight: 300;
        font-size: 1.4rem;
        margin: 1rem 0 0 0;

        @mixin atMedium {
            margin: 0;
        }
    }
    
    &__section {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;

        &--reverse {
            flex-direction: column-reverse;
        }

        &--medium {
            @mixin atMedium {
                flex-direction: row;
            }
        }

        &--large {
            @mixin atLarge {
                flex-direction: row;
            }
        }

        &__text {
            padding: 0 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @mixin atMedium {
                width: 70%;
            }

            & p {
                margin-top: 1rem;

                @mixin atMedium {
                    margin-bottom: 0;
                }
            }

            & ul {
                margin-bottom: 1rem;
                
                @mixin atMedium {
                    margin-bottom: 0;
                }
            }

            & a {
                text-decoration: none;
                line-height: 0.6;
                max-width: 600px;
            }
        }
    }

    &__img {
        position: relative;
    }

    &__link {
        max-width: 120px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .3s ease-out;
    }

    &__img:hover &__link {
        opacity: 1;
    }

    &__footer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @mixin atMedium {
            flex-direction: row;
        }

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}