.highlight {
    color: $mainPurple;

    &--cursive {
        font-family: 'Homemade Apple', cursive;
        color: $mainPurple;

        &::before {
            content: " ";
            white-space: pre;
        }
    }
}