.img {
    &--round {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 1rem;
    }

    &__background {
        height: 30rem;
        width: 100%;
        background-image: url("../../../assets/images/yard-work-5.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}