.img {
    &--round {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 1rem;
    }

    &__background {
        height: 25rem;
        width: 100%;
        background-image: url("../images/wedding-4-xs.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @mixin atSmall {
            flex-direction: row;
            background-image: url("../images/wedding-4-s.jpg");
            background-attachment: scroll;
        }

        @mixin atMedium {
            background-image: url("../images/wedding-4-m.jpg");
            background-attachment: fixed;
        }

        @mixin atLarge {
            background-image: url("../images/wedding-4.jpg");
            background-attachment: fixed;
        }
    }

    &__kids {
        padding-bottom: 1rem;
    }
}