.large-hero {
    position: relative;

    &__image {
        width: 100%;
        min-height: 50rem;
        margin-top: 0;
        background-image: url("../images/hero-home-xs.JPG");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        @mixin atSmall {
            background-image: url("../images/hero-home-s.JPG");
            min-height: 50rem;
            background-attachment: scroll;
        }

        @mixin atMedium {
            background-image: url("../images/hero-home-m.JPG");
            min-height: 50rem;
            background-attachment: fixed;
        }

        @mixin atLarge {
            background-image: url("../images/hero-home-l.JPG");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXLarge {
            background-image: url("../images/hero-home-xl.JPG");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXXLarge {
            background-image: url("../images/hero-home-xxl.JPG");
            min-height: 60rem;
            background-attachment: fixed;
        }
    }

    &__image-involved {
        width: 100%;
        min-height: 50rem;
        margin-top: 0;
        background-image: url("../images/hero-involved-xs.jpg");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        @mixin atSmall {
            background-image: url("../images/hero-involved-s.jpg");
            min-height: 50rem;
            background-attachment: scroll;
        }

        @mixin atMedium {
            background-image: url("../images/hero-involved-m.jpg");
            min-height: 50rem;
            background-attachment: fixed;
        }

        @mixin atLarge {
            background-image: url("../images/hero-involved-l.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXLarge {
            background-image: url("../images/hero-involved-xl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXXLarge {
            background-image: url("../images/hero-involved-xxl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }
    }

    &__image-about {
        width: 100%;
        min-height: 50rem;
        margin-top: 0;
        background-image: url("../images/hero-about-xs.jpg");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        @mixin atSmall {
            background-image: url("../images/hero-about-s.jpg");
            min-height: 50rem;
            background-attachment: scroll;
        }

        @mixin atMedium {
            background-image: url("../images/hero-about-m.jpg");
            min-height: 50rem;
            background-attachment: fixed;
        }

        @mixin atLarge {
            background-image: url("../images/hero-about-l.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXLarge {
            background-image: url("../images/hero-about-xl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXXLarge {
            background-image: url("../images/hero-about-xxl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }
    }

    &__image-uu {
        width: 100%;
        min-height: 50rem;
        margin-top: 0;
        background-image: url("../images/hero-uu-xs.jpg");
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        
        @mixin atSmall {
            background-image: url("../images/hero-uu-s.jpg");
            min-height: 50rem;
            background-attachment: scroll;
        }

        @mixin atMedium {
            background-image: url("../images/hero-uu-m.jpg");
            min-height: 50rem;
            background-attachment: fixed;
        }

        @mixin atLarge {
            background-image: url("../images/hero-uu-l.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXLarge {
            background-image: url("../images/hero-uu-xl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }

        @mixin atXXLarge {
            background-image: url("../images/hero-uu-xxl.jpg");
            min-height: 60rem;
            background-attachment: fixed;
        }
    }

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atSmall {
            transform: translateY(-50%);
        }

        @mixin atMedium {
            transform: translateY(-40%);
        }
    }

    &__title-large {
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff;
        margin: 0;

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            font-size: 2.8rem;
        }

        @mixin atLarge {
            font-size: 3.5rem;
        }
    }

    &__title-small {
        font-family: 'Homemade Apple', cursive;
        font-size: 1.7rem;
        font-weight: 700;
        color: #fff;
        margin: 0.5rem 0;

        @mixin atSmall {
            font-size: 2.1rem;
        }

        @mixin atMedium {
            font-size: 2.8em;
        }

        @mixin atLarge {
            font-size: 3.4rem;
        }
    }

    &__description {
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        max-width: 18.75rem;
        margin: 10px auto;

        @mixin atSmall {
            font-size: 1.1rem;
            max-width: 31.25rem;
        }

        @mixin atMedium {
            font-size: 1.3rem;
            max-width: 43.75rem;
        }
    }

    &__link {
        display: inline-block;
        margin-top: 7px;
    }
}