.row {
    @mixin clearfix;

    &__4 {
        @mixin atLarge {
            flex: 1;
        }
    }

    &__5 {
        &--left {
            display: none;

            @mixin atMedium {
                display: block;
            }

            @mixin atLarge {
                float: left;
            }
        }
    }

    &__6 {
        &--left {
            text-align: center;
            position: relative;
            display: block;

            @mixin atLarge {
                width: 45%;
                float: left;
            }
        }

        &--right {
            display: block;
            text-align: center;
            position: relative;

            @mixin atLarge {
                width: 45%;
                float: right;
            }
        }
    }

    &__7 {
        &--right {
            text-align: center;
            position: relative;
            display: block;
        }
    }

    &--gutters > div {
        padding: 0 3rem;
    }
}