.testimonials {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    &--author {
        text-align: right;
    }

    &__testimonial {
        display: flex;
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }
    }

    &__title {
        text-align: center;
        color: $mainPurple;
        font-weight: 300;
    }

    &__testimonial-section {
        &__text {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* background-color: $lightPink; */
        }
    }
}