.testimonials {
    &--author {
        text-align: right;
    }

    &__testimonial {
        display: flex;
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }
    }

    &__title {
        text-align: center;
        color: $mainPink;
        font-weight: 300;
    }

    &__testimonial-section {
        &__text {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightPink;
        }
    }
}