.where {
    padding: 2rem 3rem;

    &__info {
        width: 50%;
        float: left;
        text-align: center;
    }

    &__icons {
        padding-top: 2rem;

        &__icon {
            color: $mainPink;
            font-size: 2rem;
            padding: 0.5rem;
            display: inline;

            & a:visited {
                color: $mainPink;
            }
        }
    }

    & iframe {
        width: 45%;
        height: 315px;
    }

    @mixin clearfix;
}

#map {
    max-width: 600px;
    min-width: 350px;
    height: 400px;
    background-color: grey;
}