.where {
    padding: 2rem 0;
    text-align: center;
    line-height: 0.8;
    display: flex;
    flex-direction: column;

    @mixin atLarge {
        flex-direction: row;
    }

    &__section {
        min-width: 40%;

        &__info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightPink;
        }
    }

    &__title {
        color: $mainPink;
        font-size: 1.7rem;
        font-weight: 300;
    }

    &__location {
        & a {
            text-decoration: none;
        }
    }

    &__icons {
        padding-top: 2rem;

        &__icon {
            color: $mainPink;
            font-size: 2rem;
            padding: 0.5rem;
            display: inline;

            & a {
                color: $mainPink;
            }

            & a:visited {
                color: $mainPink;
            }
        }
    }
}