.who {
    &__subtitle {
        text-align: center;
        color: $mainPink;
        font-weight: 300;
        font-size: 1.4rem;
    }

    &__intro {
        max-width: 65rem;
        margin: 0 auto 1rem auto;
        text-align: center;
        font-size: 1.1rem;
    }

    &__section {
        display: flex;
        flex-direction: column;

        @mixin atLarge {
            flex-direction: row;
        }

        &__text {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightPink;
        }
    }
}